name: Python Validation

on:
  push:
    branches:
    - main
  pull_request:
  workflow_call: # allow this to be run from other workflows

jobs:
  verify:
    name: pytest
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/cache@v3
      with:
        path: ~/.local/share/virtualenvs
        key: ${{ runner.os }}-pipenv-${{ hashFiles('**/Pipfile.lock') }}
    - uses: dtolnay/rust-toolchain@stable
    - uses: Swatinem/rust-cache@v2
    - uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    - name: Install pipenv
      run: python -m pip install --upgrade pipenv wheel
    - name: Install dependencies
      run: |
        pipenv install --dev
        pipenv run maturin develop --manifest-path zspell-py/Cargo.toml
    - name: Pytest
      run: pipenv run pytest
    - name: Validate docs
      run: pipenv run make -C zspell-py/docs html
